@inject UserManager<ApplicationUser> UserManger
@model ArticleVModel
<div class="container shadow card border border-5 border-warning p-4 my-4 rounded-3 mt-4">
    <!--Section: Post data-mdb-->
    <section class=" mb-4">
        <div class="bg-image  hover-overlay  " data-mdb-ripple-init data-mdb-ripple-color="light">
            <div class="text-center m-4">
                <img src="~/Uploads/Articles/Images/@Model.Article.ImageName" class="img-fluid shadow-2-strong  mb-2 w-50 " height="100" />
            </div>


        </div>

        <div class="row  mb-4  ">
            <div>
                <h1 class="text-dark">@Model.Article.Title</h1>
                @*        <img src="~/Uploads/Profiles/Images/profile.png" class="rounded-circle  shadow-1-strong me-2"
                     height="50" alt="" loading="lazy" /> *@
                <span class="">
                    <i class="fas fa-pencil-alt mx-1"></i>
                    @ResData.lblCreatedBy
                    @{
                        var user = await UserManger.FindByIdAsync(Model.Article.CreatedBy.ToString());
                    }
                    @user.Name
                </span>
                <span class="">
                    <i class="nav-icon far fa-calendar-alt mx-1"></i>
                    @ResData.lblCreatedDate
                 @Model.Article.CreatedDate
                </span>
           
            </div>

     @*        <div class="col-lg-6 text-center text-lg-end">
                <button type="button" class="btn btn-primary px-3 me-1" data-mdb-ripple-init
                        style="background-color: #3b5998;">
                    <i class="fab fa-facebook-f"></i>
                </button>
                <button type="button" class="btn btn-primary px-3 me-1" data-mdb-ripple-init
                        style="background-color: #55acee;">
                    <i class="fab fa-twitter"></i>
                </button>
                <button type="button" class="btn btn-primary px-3 me-1" data-mdb-ripple-init
                        style="background-color: #0082ca;">
                    <i class="fab fa-linkedin"></i>
                </button>
                <button type="button" class="btn btn-primary px-3 me-1" data-mdb-ripple-init>
                    <i class="fas fa-comments"></i>
                </button>
            </div> *@
        </div>
    </section>
    <!--Section: Post data-mdb-->
    <!--Section: Text-->
    <article >
        @Html.Raw(Model.Article.ContentHtml)
    </article>
    <!--Section: Text-->
    <!--Section: Share buttons-->
@*     <section class="text-center border-top border-bottom py-4 mb-4">
        <p><strong>Share with your friends:</strong></p>

        <button type="button" class="btn btn-primary me-1" data-mdb-ripple-init style="background-color: #3b5998;">
            <i class="fab fa-facebook-f"></i>
        </button>
        <button type="button" class="btn btn-primary me-1" data-mdb-ripple-init style="background-color: #55acee;">
            <i class="fab fa-twitter"></i>
        </button>
        <button type="button" class="btn btn-primary me-1" data-mdb-ripple-init style="background-color: #0082ca;">
            <i class="fab fa-linkedin"></i>
        </button>
        <button type="button" class="btn btn-primary me-1" data-mdb-ripple-init>
            <i class="fas fa-comments me-2"></i>Add comment
        </button>
    </section> *@
    <!--Section: Share buttons-->
@*     <!--Section: Author-->
    <section class="border-bottom mb-4 pb-4">
        <div class="row">
            <div class="col-3">
                <img src="~/Uploads/Profiles/Images/profile.png"
                     class="  shadow-1-strong rounded" alt="" height="50" width="50" />
            </div>

            <div class="col-9">
                <p class="mb-2">
                    <strong>
                        @user.Name
                    </strong>
                </p>
                <a href="" class="text-dark"><i class="fab fa-facebook-f me-1"></i></a>
                <a href="" class="text-dark"><i class="fab fa-twitter me-1"></i></a>
                <a href="" class="text-dark"><i class="fab fa-linkedin me-1"></i></a>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
                    inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
                    Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
                </p>
            </div>
        </div>
    </section> *@
    <!--Section: Author-->
    <!--Section: Reply-->

 
    <div class="container  my-4">

        <!--Section: Comments-->
        <section class=" py-4 mb-3">
            <p class="text-center"><strong>Comments: @Model.comments.Count()</strong></p>

            <!-- Comment -->
            @foreach (var comment in Model.comments)
            {
                <div class="row mb-4 border rounded p-2 ">
                    <div class="col-2">
                        <img src="~/Uploads/Profiles/Images/profile.png"
                             class="shadow-1-strong rounded" alt="" height="70" />
                    </div>

                    <div class="col-10">
                        <p class="mb-2"><strong>@comment.Name</strong></p>
                        <p>
                            @comment.CommentContent
                        </p>
                    </div>
                </div>


            }

        </section>
        <!--Section: Comments-->
        <section class="  border m-auto w-75 h-50 p-4 rounded-3">

            <div>
                <p class="text-center"><strong>@ResData.LeaveAReplay</strong></p>

                <form asp-controller="Article" asp-action="AddComment">
                    <!-- Name input -->
                    <div class=" mb-4" data-mdb-input-init>
                        <label class="form-label" for="form4Example1">Name</label>
                        <input name="Name" type="text" id="form4Example1" class="form-control" />
                    </div>

                    <!-- Email input -->
                    <div class=" mb-4" data-mdb-input-init>
                        <label class="form-label" for="form4Example2">Email address</label>
                        <input name="Email" type="email" id="form4Example2" class="form-control" />
                    </div>

                    <!-- Message input -->
                    <div class=" mb-4" data-mdb-input-init>
                        <label class="form-label" for="form4Example3">Text</label>
                        <textarea name="CommentContent" class="form-control" id="form4Example3" rows="4"></textarea>
                        <input type="hidden" name="ArticleId" value="@Model.Article.ArticleId" />
                        <input type="hidden" name="ArticleUrl" value="@Model.Article.Url" />
                    </div>



                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4" data-mdb-ripple-init>
                        Publish
                    </button>
                </form>
            </div>
        </section>

    </div>
</div>
