@model List<Article>

<section class="col-md-4 mt-4 mb-4 border-end border-bottom  bg-white">
    <div class="sticky-top p-2 shadow" style="top: 80px;">
       
                        <!--Section: Video-->
                        <section class="text-center">
                            <h5 class="mb-4">Hello World</h5>

                            <div class="embed-responsive embed-responsive-16by9 ">
                                <h1>اهلا بكم</h1>
                            </div>
                        </section>
                        <!--Section: Video-->
        @foreach (var article in Model)
        {

            <!-- Post -->
            <div class="row border-bottom bg-white rounded-3  my-4">
                <div class="col-md-4 p-0">
                    <div class="bg-image hover-overlay shadow-1-strong rounded " data-mdb-ripple-init data-mdb-ripple-color="light">
                        <img src="~/Uploads/Articles/Images/@article.ImageName" class="border border-primary border-4 " height="150" width="100"/>
                        <a href="@Url.Action("Details", "Article", new { Url = article.Url })">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>

                <div class="col-md-8">
                    <h5 class="fw-bold">@article.Title</h5>
                    <p>
                        @{
                            string plainText = Regex.Replace(article.ContentHtml, "<.*?>", string.Empty);
                            plainText = Regex.Replace(plainText, "&nbsp;", string.Empty);

                            if (plainText.Length > 150)
                            {
                                @plainText.Substring(0, 150)
                                ;


                            }
                            else
                            {
                                @plainText
                                ;
                            }

                        }......
                    </p>

                    <a href="@Url.Action("Details","Article",new {Url=article.Url})" type="button" class="btn btn-primary text-end fs-6" data-mdb-ripple-init>@ResGeneral.lblReadMore</a>
                </div>
            </div>


        }
                    </div>
                </section>