@inject SignInManager<ApplicationUser> signInManger;
    @inject ISiteSettingsService SettingsService;
@{
    var settings = await SettingsService.GetSiteSettingsAsync();
}

<!DOCTYPE html>
<html lang="en" dir="rtl" >
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Material Design for Bootstrap</title>
    <!-- MDB icon -->
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />
    <!-- Font Awesome -->
    <link
    rel="stylesheet"
    href="~/template/css/all.min.css" />
    <link href='~/template/css/style.css' rel='stylesheet'>
    <!-- Google Fonts Roboto -->
    <link href='~/template/css/Cairo.css' rel='stylesheet'>

    <link href="~/template/css/style.css" />
    <!-- MDB -->
    <link rel="stylesheet" href="~/template/css/mdb.free.css" />
    <script>
        function toggleTheme() {
        // الحصول على عنصر body أو العنصر الذي يحتوي على data-mdb-theme
        const body = document.body;

        // التحقق من السمة الحالية
        if (body.getAttribute('data-mdb-theme') === 'light') {
        // إذا كانت "light"، قم بتغييرها إلى "dark"
        body.setAttribute('data-mdb-theme', 'dark');
        } else {
        // إذا كانت "dark"، قم بتغييرها إلى "light"
        body.setAttribute('data-mdb-theme', 'light');
        }
        }




        window.onscroll = function() {
        var header = document.getElementById("main-header");
        var sticky = header.offsetTop;

        if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
        } else {
        header.classList.remove("sticky");
        }
        };

    </script>
</head>
<body data-mdb-theme="light" class="bg-militry">
    <!-- Navbar -->
    <div class="mb-4" style="z-index: 99999;">

        @*        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000; background-color: rgba(0, 0, 0, 0.224);">
            <div class="container">
                <!-- Navbar brand -->
                <img
                src="~/template/img/ArmedForces.png"
                height="70" width="70" class="rounded"
                alt="MDB Logo"
                loading="lazy"
                />
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    <span class="fs-5 ms-2 me-2 text-light fw-bolder">التاريخ العسكري المصري</span>
                </a> 
                <button class="navbar-toggler" type="button" data-mdb-collapse-init data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarExample01">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item fs-5">
                            <a class="nav-link" href="#">الرئيسية</a>
                        </li>
                        <li class="nav-item fs-5">
                            <a class="nav-link" href="#">التصنيفات</a>
                        </li>
                        <li class="nav-item fs-5">
                            <a class="nav-link" href="#">تواصل معنا</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav list-inline">
                        <!-- Icons -->

                        <li class="nav-item">
                            <a class="nav-link"  rel="nofollow" target="_blank">
                                <img src="~/template/img/egypt.png" class="rounded" height="70" width="70">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar -->
 *@
        <!-- Carousel wrapper -->
        @*   <div id="introCarousel" class=" carousel slide carousel-fade shadow-2-strong" data-mdb-carousel-init>
            <!-- Indicators -->
            <div class="carousel-indicators">
                <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
                <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li>
                <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li>
            </div>

            <!-- Inner -->
            <div class="carousel-inner">
                <!-- Single item -->
                <div class="carousel-item active">
                    <img src="~/template/img/nagib-12-jpg.jpg" class="d-block w-100 h-100" alt="...">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.301);">
                        <div class="d-flex justify-content-center align-items-center h-100">

                            <div class="text-white text-center" data-mdb-theme="dark">
                                <h1 class="mb-3">تاريخ مشرف من العسكرية المصرية</h1>
                                <h5 class="mb-4">التارخ هو الهوية التي نحاجي بها العالم</h5>
                                <a class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init href="https://www.youtube.com/watch?v=c9B4TPnak1A"
                                role="button" rel="nofollow" target="_blank">Start tutorial</a>
                                <a class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init href="https://mdbootstrap.com/docs/standard/"
                                target="_blank" role="button">Download MDB UI KIT</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item ">
                    <img src="~/template/img/123-175909-al-sadat-2jpeg.jpeg" class="d-block h-100 w-100" alt="...">

                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.301);">
                        <div class="d-flex justify-content-center align-items-center h-100">

                        </div>
                    </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item ">
                    <img src="~/template/img/2017100508040242.jpg" class="d-block w-100 h-100" alt="...">

                    <div class="mask" style="background-color: rgba(0, 0, 0,0.301);">
                        <div class="d-flex justify-content-center align-items-center h-100">

                        </div>
                    </div>
                </div>
                <!-- Inner -->

                <!-- Controls -->
                <a class="carousel-control-prev" href="#introCarousel" role="button" data-mdb-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#introCarousel" role="button" data-mdb-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- Carousel wrapper -->

        </div>
        *@

        <header id="main-header">
            <nav class="bg-danger mb-4 navbar navbar-expand-lg navbar-dark text-light sticky-top ">
                <!-- Container wrapper -->
                <div class="container">
                    <!-- Toggle button -->
                    <button
                    data-mdb-collapse-init
                    class="navbar-toggler"
                    type="button"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    >
                        <i class="fas fa-bars"></i>
                    </button>

                    <!-- Collapsible wrapper -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- Navbar brand -->
                        <a class="navbar-brand mt-2 mt-lg-0" href="~/">
                            <img src="~/Uploads/WebSite/Images/@settings.LogoName"
                            height="50"
                            alt="MDB Logo"
                            loading="lazy"
                            /><span class="fs-5 ms-2 me-2 text-light fw-bolder">@settings.WebSiteName</span>
                        </a>
                        <!-- Left links -->
                        @{
                            List<MegaMenuItem> menuItems = new List<MegaMenuItem>();
                          var menu =  settings.Menu;

                            if (menu != null && !string.IsNullOrEmpty(menu))
                            {
                                menuItems = JsonConvert.DeserializeObject<List<MegaMenuItem>>(menu);

                            }

                        }
                        <ul class="navbar-nav m-1">
                            @foreach (var item in menuItems)
                            {
                                if (item.SubItems.Any()) // إذا كان يحتوي على روابط فرعية
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle fw-bold " href="@item.Url" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                                            <i class="@item.Icon"></i> @item.Title
                                        </a>
                                        <ul class="dropdown-menu text-end p-2 fs-6">
                                            @foreach (var subItem in item.SubItems)
                                            {
                                                <li><a class="dropdown-item" href="@subItem.Url"><i class="@subItem.Icon"></i> @subItem.Title</a></li>
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link fw-bold " href="@item.Url"><i class="@item.Icon"></i> @item.Title</a>
                                    </li>
                                }
                            }
                   @*          <li class="nav-item">
                                <a class="nav-link" href="#">الرئيسية</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">حروب الجيل الرابع</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">حروب الجيل الخامس</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">وقائع بين الحقيقة والتدليس</a>
                            </li> *@
                        </ul>
                        <!-- Left links -->
                    </div>
                    <!-- Collapsible wrapper -->

              

                  
                  
                    </div>
                    <!-- Right elements -->
             
                <!-- Container wrapper -->
            </nav>
 </header>
   <style>
        .nav-item {
            padding: 0.5rem 0xp;
        }

        .dropdown-hover:hover > .dropdown-menu {
            display: inline-block;
        }

        .dropdown-hover > .dropdown-toggle:active {
            /*Without this, clicking will make it sticky*/
            pointer-events: none;
        }
   </style>
   
  
        <!-- Start your project here-->
        <main class="container-fluid">
            @RenderBody()
        </main>
        <!-- End your project here-->
        <!-- Footer -->
        <footer class="bg-dark mt-4 text-center text-lg-start text-light ">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <!-- Left -->
                <div class="me-5 d-none d-lg-block">
                    <span>@ResGeneral.lblSocialmediaNetworks</span>
                </div>
                <!-- Left -->

                <!-- Right -->
                <div>
                    <a href="@settings.FacebookLink" class="me-4 text-reset">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="@settings.XLink" class="me-4 text-reset">
                        <i class="fab fa-twitter"></i>
                    </a>
               
                    <a href="@settings.InstagramLink" class="me-4 text-reset">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="@settings.LinkedInLink" class="me-4 text-reset">
                        <i class="fab fa-linkedin"></i>
                    </a>
               
                </div>
                <!-- Right -->
            </section>
            <!-- Section: Social media -->

            <!-- Section: Links  -->
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                <img src="~/Uploads/WebSite/Images/@settings.LogoName" class="mx-3" height="50" alt="Alternate Text" />@settings.WebSiteName
                            </h6>
                            <p>
                                @settings.Description
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                @ResGeneral.lblImportantLinks
                            </h6>
                            @{
                                string[] links = settings.ColumnLinks1.Split(",");

                                foreach(var link in links){
                                    string[] pureLink = link.Split("-");
                                    <p>


                                        <a href="@pureLink[1]" class="text-reset">@pureLink[0]</a>
                                    </p>
                                }
                         
                            }
         
          
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
         @ResGeneral.lblRelatedLinks
            </h6>
            @{
             string[] links2 = settings.ColumnLinks2.Split(",");

               foreach (var link in links2)
             {
                string[] pureLink = link.Split("-");
                <p>

                <a href="@pureLink[1]" class="text-reset">@pureLink[0]</a>
               </p>
              }
     }
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">@ResGeneral.lblContacts</h6>
            <p><i class="fas fa-home me-3"></i>@settings.Adress</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
             @settings.EmailAddress
            </p>
            <p><i class="fas fa-phone me-3"></i> @settings.ContactNumber</p>

          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
                @DateTime.Now.Year  © @ResGeneral.lblCopyRights
     <a class="text-reset fw-bold" href="https://www.mod.gov.eg/"></a>
    </div>
            <div class="text-center p-2 mb-4" style="background-color: rgba(0, 0, 0, 0.05);">
             @ResGeneral.lblDevelopmentBy
            </div>
            <div class="text-center fs-3 my-4 p-2" style="background-color: rgba(0, 0, 0, 0.05);">
                @ResAdmin.DR
            </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
    <!-- MDB -->
        <script  src="~/template/js/mdb.umd.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

  



  </body>
</html>
