@using Microsoft.AspNetCore.Mvc.Localization
@model List<Article>;
@{

}
@* @inject Microsoft.Extensions.Localization.IStringLocalizer<CMSBlog.Resources.MessagesAR> Localizer
 *@

<div class="col-12">
    <div class="card">
        <div class="card-header">
        

        </div>
        <!-- /.card-header -->
        <div class="card-body">
      
            <a asp-action="Add" class="btn btn-outline-primary">@ResAdmin.lblNewArticle</a>
            <table id="example1" class="table table-bordered table-striped text-center dataTable" role="grid" aria-describedby="example1_info">
                <thead>
                    <tr>

                        <th>@ResAdmin.lblTitle</th>
                        <th>@ResAdmin.lblUrls</th>
                        <th>@ResAdmin.lblCategoryName</th>
                        <th>@ResAdmin.lblActions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.Title</td>
                            <td>@item.Url</td>
                            <td>@item.Category.CategoryName</td>
                            <td>
                                <a target="_blank" href="~/article/@item.Url" class="btn btn-info">@ResAdmin.lblshow</a>

                                <a asp-controller="Article" asp-action="Edit" asp-route-articleId="@item.ArticleId" class="btn btn-warning">@ResAdmin.lblEdit</a>
                                <a asp-controller="Article" asp-action="Delete" asp-route-articleId="@item.ArticleId" class="btn btn-danger">@ResAdmin.lblDelete</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</div>

@section Scripts {
    <!-- jQuery -->
    <script src="~/Admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="~/Admin/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
        
        });
    </script>
    @if (TempData["MessageType"] != null)
    {
        <script>
             let MessageType = @TempData["MessageType"];
             console.log(MessageType);
             switch (MessageType)
             {
             case 1:alert.Success('@Html.Raw(MessagesAR.SuccessMessage)','@Html.Raw(MessagesAR.SaveSuccessMessage)');
                 break;
            case 2:alert.Error('@Html.Raw(MessagesAR.ErrorMessage)','@Html.Raw(MessagesAR.SaveFailed)');
                 break;
            case 3:
                 alert.Success('@Html.Raw(MessagesAR.SuccessMessage)', '@Html.Raw(MessagesAR.DeleteSuccessMessage)');
                 break;
             case 4:
                 alert.Error('@Html.Raw(MessagesAR.ErrorMessage)', '@Html.Raw(MessagesAR.DeleteFailed)')
                 break;
             case 5:
                     alert.Success   ('@Html.Raw(MessagesAR.SuccessMessage)', '@Html.Raw(MessagesAR.UpdateSuccessMessage)');
                 break;
             case 6:
                 alert.Error('@Html.Raw(MessagesAR.ErrorMessage)', '@Html.Raw(MessagesAR.UpdateFailed)');
                 break;
                 default: break;
             }
        </script>
    }
}

}
